*.iml
.DS_Store
.github/github_deploy_key.enc
.idea
cmake-build-debug/
cmake-build-release/
doc/
t3party/
t3party/
outputs
tags
CMakeLists.txt.user
.vscode
build_tools
build/*
t3party*/
*.d
*.o
*.bak
*.acc
*.yuv
*.gz
*.jpg
*.g722
*.opus
*.aac
*.h264
CMakeFiles
dependencies.lock
sdkconfig.old
examples/**/build/
examples/**/managed_components
volc_conv_ai/**/mbedtls/
opensource_git_commit.log
sensitive_info_result.txt
